a {
    text-decoration: none;
}
.ownerSearch {
    color: black;
}

button {
    color: black;
}

table.table {
    width: 75%;
    margin-bottom: 3em;
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover:after {
    background: #111;
    background: rgba(0,0,0,.8);
    border-radius: .5em;
    bottom: 1.35em;
    color: #fff;
    content: attr(title);
    display: block;
    left: 1em;
    padding: .3em 1em;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
    z-index: 98;
}

.tooltip:hover:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0,0,0,.8) transparent;
    border-width: .4em .4em 0 .4em;
    bottom: 1em;
    content: "";
    display: block;
    left: 2em;
    position: absolute;
    z-index: 99;
}

.option {
    cursor: pointer;
    position: absolute;
    top: 30px;
}
.option.mode {
    right: 300px;
}
.option.range {
    right: 30px;
}

.option span {
    opacity: 0.5;
    font-size: 9pt;
    padding: 0 .5em;
    color: #00B7FF;
}

.option span.selected {
    color: white;
}

.option span:hover {
    opacity: 1;
}

#commitTimeLegend {
    display: inline-block;
}
#commitTimeLegend li span {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 5px;
}

#commitTimeLegend ul {
    list-style: none;
}

/* ppmmCommit */
.ppmmCommit .series-0 {fill:#FDB45C; background-color:#FDB45C;}
.ppmmCommit .series-1 {fill:#F7464A; background-color:#F7464A;}
.ppmmCommit .series-2 {fill:skyblue; background-color:skyblue;}
.ppmmCommit .series-3 {fill:blue; background-color:blue;}
.ppmmCommit .series-4 {fill:purple; background-color:purple;}
.ppmmCommit .series-5 {fill:green; background-color:green;}

#ppmmCommitLegend {
    display: inline-block;
    color: white;
    padding: 25px;
}

#ppmmCommitLegend .series {
    width: 15px;
    height: 15px;
    display: inline-block;
}

a {
    color: #00B7FF;
}

/* Contribution */
.contribution {
    shape-rendering: crispEdges;
}

.year {
    font-size: 10px;
    text-anchor: middle;
}

.month {
    font-size: 10px;
    text-anchor: middle;
}

.day {
    stroke: gray;
    stroke-width: 0.5px;
}

.ct-series-e .ct-bar,.ct-series-e .ct-line,.ct-series-e .ct-point,.ct-series-e .ct-slice-donut {
    stroke: skyblue;
}

.ct-series-e .ct-area,.ct-series-e .ct-slice-pie {
    fill: skyblue;
}
.day {fill:#202B33}
.RdYlGn .q0-11{fill:#202B33}
.RdYlGn .q1-11{fill:lightcyan}
.RdYlGn .q2-11{fill:lightblue}
.RdYlGn .q3-11{fill:lightskyblue}
.RdYlGn .q4-11{fill:skyblue}
.RdYlGn .q5-11{fill:cyan}
.RdYlGn .q6-11{fill:cyan}
.RdYlGn .q7-11{fill:cyan}
.RdYlGn .q8-11{fill:deepskyblue}
.RdYlGn .q9-11{fill:deepskyblue}
.RdYlGn .q10-11{fill:deepskyblue}

html, body {
    font: 14px "Roboto", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #202B33;
    /*color: #738491;*/
    color: white;
    font-weight: 200;
}

header, nav, section {
    /*opacity: 0.8;*/
}
header {
    position: fixed;
    background-color: #202B33;
    border-bottom: solid 2px rgb(22, 30, 35);
    width: 100%;
    height: 50px;
    z-index: 2;
    min-width: 1000px;
}
nav {
    background-color: #202B33;
    width: 15%;
    border-right: solid 2px rgb(22, 30, 35);
    min-width: 152px;
    height: 100%;
    position: fixed;
}

section {
    top: 50px;
    position: relative;
    overflow-y: scroll;
    height: 100%;
    margin-left: 16%;
    background-color: #202B33;
    width:80%;
}
.header{
    height: 50px;
    display: inline-block;
    font-weight: 200;
}
.left-header{
    width: 15%;
    border-right: solid 2px rgb(22, 30, 35);
    text-align: center;
}
.middle-header{
    position: absolute;
    left: 15%;
    width: 65%;
    border-right: solid 2px rgb(22, 30, 35);
}
.right-header{
    float: right;
    width: 18%;
}

.header a:hover {
    color: deepskyblue;
}
.header a {
    text-decoration: none;
    /*color: #738491;*/
    color: white;
    margin-left: 30px;
    line-height: 50px;
    height: 50px;
    font-size: 15px;
    width: 100px;
}

.left-header a {
    margin: 0;
    font-size: 30px;
    color: skyblue;
    font-weight: 900;
}
.nav-wrap{
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 100px;
}
.nav-wrap .group-h {
    line-height: 15px;
    margin-left: 10px;
    height: 15px;
    font-size: 15px;
    color: deepskyblue;
    font-weight: 100;
    padding-bottom: 10px;
    border-bottom: solid 1px deepskyblue;
    margin-bottom: 10px
}
.nav-wrap .group {
    height: 30px;
}
.nav-wrap .group a {
    display: block;
    margin-left: 30px;
    margin-top: 3px;
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    text-decoration: none;
    /*color: #738491;*/
    color: white;
    font-weight: 200;
    padding-left: 20px;
    border-left: solid 3px deepskyblue;

}

.nav-wrap .group a:hover {
    background-color: deepskyblue;
    color: white;
    border-left: solid 3px white;
}

.nav-wrap .group .selected {
    background-color: deepskyblue;
    color: white;
    border-left: solid 3px white;
}

.dash-tile {
    position: relative;
    /*display: inline-block;*/
    width: 90%;
    min-width: 600px;
    float: left;
    height: auto;
    margin: 10px;
    padding: 30px;
    opacity: 0.9;
    border: solid 1px rgb(22, 30, 35);
    border-radius: 10px;
    font-weight: 200;
}

.dash-tile:hover {
    opacity: 1;
    border: solid 1px deepskyblue;
    color: deepskyblue;
}


.section-wrapper {
    position: relative;
    width: 90%;
    padding: 50px;
    /*height: 1000px;*/
}

.commit-graph {
    margin-top: 30px;
    width: 85%;
    height: 200px;
}


.dash-tile-title {
    position: relative;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 100;
}

.commitLines, .commitTimeGraph{
    margin-top: 30px;
    margin-left: 50px;
}

.RdYlGn {
    margin-left: 50px;
}

button {
    border: solid 2px deepskyblue;
    background-color: transparent;
    color: deepskyblue;
    cursor: pointer;
    height: 30px;
    width: 70px;
    border-radius: 4px;
    margin-left: 20px;
}

.ownerSearch {
    height: 30px;
    width: 200px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid deepskyblue;
    color: white;
}

ul, li {
    list-style: none;

}

.mng-grp {
    position: relative;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 100;
    color: deepskyblue;
    border-bottom: 1px solid deepskyblue;
}

.list-group {
    background-color: transparent;
}

.list-group-item {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    margin-top: 5px;
    background-color: transparent;
    color: white;
    border-left: solid 4px deepskyblue;
    cursor: pointer;
}

.list-group-item.active {
    background-color: deepskyblue;
    border-color: inherit;
}
.list-group-item:hover {
    background-color: deepskyblue;
    border-color: inherit;
}

.list-group span {
    position: relative;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: 300;
    color: deepskyblue;
}

.list-group form {
    margin-top: 10px;
}

.list-group a {
    display: inline-block;
    float: right;
    margin-right: 10px;
    color: white;
}

.list-group a:hover {
    color: red;
    font-weight: 500;
}

th {
    color: deepskyblue;
    font-weight: 100;
}

tr {
    text-align: left;
}

label {
    color: deepskyblue;
}

header .selected {
    color: deepskyblue;
}
.msg {
    cursor: pointer;
    padding-bottom: 5px;
}

.msg-a {
    display: block;
    padding-left: 10px;
    height: 25px;
    line-height: 25px;
}

.msg-a:hover {
    background-color: deepskyblue;
    color: white;
    border-left: solid 3px white;
}

.first-msg-a {
    color: lightcyan;
    border-left: solid 3px lightcyan;
}

.second-msg-a {
    color: lightskyblue;
    border-left: solid 3px lightskyblue;

}

.third-msg-a {
    color: deepskyblue;
    border-left: solid 3px deepskyblue;

}

.msg span {
    float: right;
    color: white;
    font-size: 10px;
}

.x-axis .tick text {
    font-size: 10px;
    fill: white;
}

.today-commit-count {
    min-width: 130px;
    width: 130px;
    font-size: 40px;
    height: 130px;
}

.cmt-cnt {
    font-weight: 800;
    color: lightcyan;
    line-height: 90px;
}

.goal-cnt {
    font-weight: 300;
    color: deepskyblue;
}

.recent-commit-msg {
    min-width: 530px;
    width: 60%;
    font-weight: 200;
    font-size: 12.5px;
}