body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #292929;
}

.ownerSearch {
  color: black;
}

button {
  color: black;
}

table.table {
  width: 75%;
  margin-bottom: 3em;
}

.list-group-item {
  background-color: #303030;
  color: white;
}

.list-group-item.active {
  background-color: #5d5d5d;
  border-color: inherit;
}

.tooltip {
  display: inline;
  position: relative;
}

.tooltip:hover:after {
  background: #111;
  background: rgba(0,0,0,.8);
  border-radius: .5em;
  bottom: 1.35em;
  color: #fff;
  content: attr(title);
  display: block;
  left: 1em;
  padding: .3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
}

.tooltip:hover:before {
  border: solid;
  border-color: #111 transparent;
  border-color: rgba(0,0,0,.8) transparent;
  border-width: .4em .4em 0 .4em;
  bottom: 1em;
  content: "";
  display: block;
  left: 2em;
  position: absolute;
  z-index: 99;
}

.option {
  position: absolute;
  top: 30px;
}
.option.mode { left: 30px; }
.option.range { right: 30px; }

.option span {
  opacity: 0.5;
  font-size: 9pt;
  padding: 0 .5em;
  color: #00B7FF;
}

.option span.selected {
  color: white;
}

.option span:hover {
  opacity: 1;
}

#commitTimeLegend {
  display: inline-block;
}
#commitTimeLegend li span {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 5px;
}

#commitTimeLegend ul {
  list-style: none;
}

/* ppmmCommit */
.ppmmCommit .series-0 {fill:#FDB45C; background-color:#FDB45C;}
.ppmmCommit .series-1 {fill:#F7464A; background-color:#F7464A;}
.ppmmCommit .series-2 {fill:skyblue; background-color:skyblue;}
.ppmmCommit .series-3 {fill:blue; background-color:blue;}
.ppmmCommit .series-4 {fill:purple; background-color:purple;}
.ppmmCommit .series-5 {fill:green; background-color:green;}

#ppmmCommitLegend {
  display: inline-block;
  color: white;
  padding: 25px;
}

#ppmmCommitLegend .series {
  width: 15px;
  height: 15px;
  display: inline-block;
}

a {
  color: #00B7FF;
}

/* Contribution */
.contribution {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.year {
  text-anchor: middle;
}

.day {
  stroke: #ccc;
}
.dash-tile {
  margin-top: 20px;
  padding: 30px;
  opacity: 0.75;
  background-color: #333;
  border-radius: 5%;
}
.dash-tile:hover {
  opacity: 1;
}

.ct-series-e .ct-bar,.ct-series-e .ct-line,.ct-series-e .ct-point,.ct-series-e .ct-slice-donut {
  stroke: skyblue;
}

.ct-series-e .ct-area,.ct-series-e .ct-slice-pie {
  fill: skyblue;
}

.RdYlGn .q0-11{fill:#333}
.RdYlGn .q1-11{fill:rgb(236,247,197)}
.RdYlGn .q2-11{fill:rgb(217,239,139)}
.RdYlGn .q3-11{fill:rgb(191,228,122)}
.RdYlGn .q4-11{fill:rgb(166,217,106)}
.RdYlGn .q5-11{fill:rgb(134,203,102)}
.RdYlGn .q6-11{fill:rgb(102,189,99)}
.RdYlGn .q7-11{fill:rgb(64,170,89)}
.RdYlGn .q8-11{fill:rgb(26,152,80)}
.RdYlGn .q9-11{fill:rgb(13,127,67)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}