body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #292929;
}

#commitTimeLegend {
  display: inline-block;
}
#commitTimeLegend li span {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 5px;
}

#commitTimeLegend ul {
  list-style: none;
}

#ppmmCommitLegend {
  display: inline-block;
  padding: 25px;
}

a {
  color: #00B7FF;
}

/* Contribution */
.contribution {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.year {
  text-anchor: middle;
}

.day {
  stroke: #ccc;
}
.dash-tile {
  margin-top: 20px;
  padding: 30px;
  opacity: 0.7;
  background-color: #333;
  border-radius: 5%;
}
.dash-tile:hover {
  opacity: 1;
}

.RdYlGn .q0-11{fill:rgb(255,255,255)}
.RdYlGn .q1-11{fill:rgb(236,247,197)}
.RdYlGn .q2-11{fill:rgb(217,239,139)}
.RdYlGn .q3-11{fill:rgb(191,228,122)}
.RdYlGn .q4-11{fill:rgb(166,217,106)}
.RdYlGn .q5-11{fill:rgb(134,203,102)}
.RdYlGn .q6-11{fill:rgb(102,189,99)}
.RdYlGn .q7-11{fill:rgb(64,170,89)}
.RdYlGn .q8-11{fill:rgb(26,152,80)}
.RdYlGn .q9-11{fill:rgb(13,127,67)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}