<div ng-controller="HeaderCtrl">
	<div class="left-header header">
		<a ng-href="/">
			NPC
		</a>
	</div>
	<div class="middle-header header">
		<a ng-repeat="item in menu" ng-href="#{{item.link}}" ng-class="{selected: isActive(item.link)}"> {{item.title}} </a>
	</div>
	<div class="right-header header">
		<a ng-show="isLoggedIn()" href="#/manage" ng-class="{selected: isActive('/manage')}"> Setting </a>
		<a ng-hide="isLoggedIn()" href="/login" target="_self">Login</a>
		<a ng-show="isLoggedIn()" href="" ng-click="logout()">Logout</a>
	</div>
</div>
