<header>
    <div ng-include="'template/header.html'"></div>
</header>
<nav>
    <div ng-include="'template/nav.html'"></div>
</nav>
<section class="container">
    <div class="section-wrapper">
        <div class="mng-grp">MANAGE GROUPS</div>
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    <li ng-repeat="group in groups" class="list-group-item">{{group.name}}</li>
                    <li class="list-group-item">NEXT Institute <a href="">remove</a></li> <!-- 더미데이터 -->
                    <li class="list-group-item">Game <a href="">remove</a></li> <!-- 더미데이터 -->
                    <li class="list-group-item active">Web :: Server <a href="">remove</a></li> <!-- 더미데이터 -->
                    <li class="list-group-item">Web :: Client <a href="">remove</a></li> <!-- 더미데이터 -->
                    <li class="list-group-item">Mobile :: Android <a href="">remove</a></li> <!-- 더미데이터 -->
                    <li class="list-group-item">Mobile :: iOS <a href="">remove</a></li> <!-- 더미데이터 -->
                    <form>
                        <span>Create Group : </span>
                        <input class="ownerSearch" type="text" placeholder="Group Name">
                        <button type="button">Add</button>
                    </form>
                </ul>
            </div>
            <div class="col-md-9">
                <section class="container">
                    <table class="table">
                        <tr>
                            <th>Owner</th>
                            <th>Name</th>
                            <!--<th>Description</th>-->
                            <th></th>
                        </tr>
                        <tr ng-repeat="repo in repos">
                            <td>{{repo.owner}}</td>
                            <td>{{repo.name}}</td>
                            <!--<td>{{repo.description}}</td>-->
                            <td><a href="">remove</a></td>
                        </tr>
                    </table>
                    <form>
                        <div class="form-group">
                            <label>Add repository to group: </label>
                            <input ng-model="keyword" class="ownerSearch" type="text" placeholder="user or organization">
                            <button type="button" ng-click="search()">Search</button>
                        </div>
                        <div>
                            <div ng-repeat="repo in searchResult" class="checkbox">
                                <input type="checkbox"><a ng-href="repo.url">{{repo.owner}}/{{repo.name}}</a>
                                {{repo.description}}
                            </div>
                            <button ng-show="searchResult.length > 0" type="button">Add</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</section>