<div class=nav-wrap>
    <div class="group-h">
        GROUPS
    </div>
    <div class="group">
        <a href="#">NEXT Institute</a>
    </div>
    <div class="group">
        <a href="#">Game</a>
    </div>
    <div class="group">
        <a href="#" class="selected">Web :: Server</a>
    </div>
    <div class="group">
        <a href="#">Web :: Client</a>
    </div>
    <div class="group">
        <a href="#">Mobile :: Android</a>
    </div>
    <div class="group">
        <a href="#">Mobile :: iOS</a>
    </div>
</div>
