<div class = "dash-tile ppmmCommit">
    <h2>Commit Lines</h2>
    <svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" width="200px" height="200px">
        <rect width="100%" height="100%" fill="#31C0FF" />
        <rect ng-repeat = "group in chartData"
              ng-attr-x="{{group.x | percent}}" ng-attr-y="{{group.y | percent}}"
              ng-attr-height="{{group.height | percent}}" ng-attr-width="{{group.width | percent}}"
              ng-attr-class="{{group.className}}">
            <title>{{group.name}} : {{group.lines | number}}</title>
        </rect>
    </svg>
    <div id="ppmmCommitLegend" class="ppmmCommitLegend">
        <div ng-repeat = "group in chartData" data-toggle="tooltip" title="{{group.name}} : {{group.lines | number}}">
            <div ng-attr-class="{{group.className}}"></div>
            {{group.name}} : {{group.ratio | percent}}
        </div>
    </div>

</div>