<div class = "dash-tile ppmmCommit">
    <h2>Commit Lines</h2>
    <svg baseProfile="full" xmlns="http://www.w3.org/2000/svg" width="200px" height="200px">
        <rect width="100%" height="100%" fill="#31C0FF" />
        <rect ng-repeat = "ppmmCount in ppmmCounts" x = {{ppmmCount.x}}% y = {{ppmmCount.y}}% height = {{ppmmCount.height}}% width = {{ppmmCount.width}}% fill = {{ppmmCount.fill}} />
    </svg>
    <div id="ppmmCommitLegend">
        <div ng-repeat = "ppmmCount in ppmmCounts"" style = "color: {{ppmmCount.fill}}" >
            {{ppmmCount.recover}} : {{ppmmCount.percent | number}} %
        </div>
    </div>

</div>